<div class="sidebar-wrapper">
  <div class="logo">
    <a routerLink="/home" class="simple-text">
      <div class="logo-img">
        <img src="assets/img/angular2-logo-white.png" />
      </div>
      <span routerLink="/home">Ctrl Fin 5</span>
    </a>
  </div>
  <ul class="nav responsive-nav">

    <li width="100%">
      <a routerLink="/totalMeses">
        <i class="fa fa-search"></i>
        <p>Total Mês</p>
      </a>
    </li>


    <li width="100%">
      <a routerLink="/contaList">
        <i class="fa fa-search"></i>
        <p>Contas</p>
      </a>
    </li>

    <li width="100%">
      <a routerLink="/contaFonteAplicacao">
        <i class="fa fa-search"></i>
        <p>Contas Fonte Aplicação</p>
      </a>
    </li>

    <li width="100%">
      <a routerLink="/movimentacaoList">
        <i class="fa fa-search"></i>
        <p>Movimentações</p>
      </a>
    </li>

    <li width="100%">
      <a routerLink="/movimentacaoAberta">
        <i class="fa fa-search"></i>
        <p>Movimentações Abertas</p>
      </a>
    </li>

    <li width="100%">
      <a routerLink="/estimativaMes">
        <i class="fa fa-search"></i>
        <p>Estimativa Mês</p>
      </a>
    </li>

    <li width="100%">
      <a routerLink="/pesquisaDia">
        <i class="fa fa-search"></i>
        <p>Pesquisa Dia</p>
      </a>
    </li>

  </ul>
</div>