<div class="dgc-painel" *ngIf="listaBase">

  <div class="dgc-painel-header">
    <span>Oportunidades - Macroeconômica</span>
    <div class="dgc-direita">
      <button mat-flat-button color="primary" (click)="edita()">Novo</button>
    </div>

  </div>




  <div class="dgc-card" *ngFor="let item of listaBase; let i = index">
    <div class="dgc-card-header">
      {{item.nome}}
    </div>
    <div class="dgc-card-detalhe">
      {{item.descricao}}
    </div>


    <div class="dgc-card-comandos">
      <button mat-flat-button color="primary" (click)="edita(item)">Alterar</button>
    </div>
  </div>