
  <div class="dgc-card-header">
    <span>{{data}}</span>
    <span *ngIf="(anos>1)" class="dgc-direita">{{anos}} anos</span>
    <span *ngIf="(anos==1)" class="dgc-direita">{{anos}} ano</span>
  </div>
  <div *ngIf="lista" class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
      <tbody>
        <tr *ngFor="let item of lista; let i = index">
          <td width="90%">{{item.nome}}</td>
          <td width="10%">{{item.tempo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
