<div>
  <button mat-button [matMenuTriggerFor]="menu">Anos</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/projetoAno/2020">2020</button>
    <button mat-menu-item routerLink="/projetoAno/2019">2019</button>
    <button mat-menu-item routerLink="/projetoAno/2018">2018</button>
    <button mat-menu-item routerLink="/projetoAno/2017">2017</button>
    <button mat-menu-item routerLink="/projetoAno/2017">2016</button>
    <button mat-menu-item routerLink="/projetoAno/2017">2015</button>
    <button mat-menu-item routerLink="/projetoAno/2017">2014</button>
    <button mat-menu-item routerLink="/projetoAno/2017">2013</button>
    <button mat-menu-item routerLink="/projetoAno/2017">2012</button>
    <button mat-menu-item routerLink="/projetoAno/2017">2011</button>
    <button mat-menu-item routerLink="/projetoAno/2017">2010</button>
    <button mat-menu-item routerLink="/projetoAno/2017">2009</button>
    <button mat-menu-item routerLink="/projetoAno/2017">2008</button>
  </mat-menu>
</div>