<div>

  <button mat-button [matMenuTriggerFor]="menuDiario">Diário</button>
  <mat-menu #menuDiario="matMenu">
    <button mat-button routerLink="/execucaoDia">Execução</button>
    <button mat-button routerLink="/tempoTarefa">Períodos</button>
    <button mat-button routerLink="/detalheDiaAtual">Histórico</button>
  </mat-menu>


  <button mat-button [matMenuTriggerFor]="menuPlanejamento">Planejamento</button>
  <mat-menu #menuPlanejamento="matMenu">
    <button mat-button routerLink="/planoSemanal">Tempos</button>
    <button mat-button routerLink="/programacaoSemanal">Semanal Lista</button>
    <button mat-button routerLink="/entregaProjetoFotoAtual">Foto</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menuEstilo">Estilo de Vida</button>
  <mat-menu #menuEstilo="matMenu">
    <button mat-button routerLink="/faseEstiloRotina">Fases</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menuNovos">Novos</button>
  <mat-menu #menuNovos="matMenu">
    <button mat-button routerLink="/rendaPassiva">Renda Passiva</button>
    <button mat-button routerLink="/oportunidadeMacroeconomica">Oportunidade Macroeconomica</button>
    <button mat-button routerLink="/possibilidadeReceita">Possibilidade de Receita</button>
    <button mat-button routerLink="/mercadoEscala">Mercado com Escala</button>
  </mat-menu>


  

  <button mat-button [matMenuTriggerFor]="menuProdutos">Produtos</button>
  <mat-menu #menuProdutos="matMenu">
    <button mat-button routerLink="/grupoProjeto">Grupo Projeto</button>
    <button mat-button routerLink="/produtoEstrategico">Produto Estratégico (tradicional)</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menuAnos">Anos</button>
  <mat-menu #menuAnos="matMenu">
    <button mat-menu-item routerLink="/projetoAno/2023">2023</button>
    <button mat-menu-item routerLink="/projetoAno/2022">2022</button>
    <button mat-menu-item routerLink="/projetoAno/2021">2021</button>
    <button mat-menu-item routerLink="/projetoAno/2020">2020</button>
    <button mat-menu-item routerLink="/projetoAno/2019">2019</button>
    <button mat-menu-item routerLink="/projetoAno/2018">2018</button>
    <button mat-menu-item routerLink="/projetoAno/2017">2017</button>
    <button mat-menu-item routerLink="/projetoAno/2016">2016</button>
    <button mat-menu-item routerLink="/projetoAno/2015">2015</button>
    <button mat-menu-item routerLink="/projetoAno/2014">2014</button>
    <button mat-menu-item routerLink="/projetoAno/2013">2013</button>
    <button mat-menu-item routerLink="/projetoAno/2012">2012</button>
    <button mat-menu-item routerLink="/projetoAno/2011">2011</button>
    <button mat-menu-item routerLink="/projetoAno/2010">2010</button>
    <button mat-menu-item routerLink="/projetoAno/2009">2009</button>
    <button mat-menu-item routerLink="/projetoAno/2008">2008</button>
  </mat-menu>

</div>