<div class="dgc-painel" >

    <div class="dgc-painel-header">
      <span>Estilo de Vida - Fases</span>
      <div class="dgc-direita">
        <button mat-flat-button color="primary" (click)="edita()">Novo</button>
      </div>
  
    </div>
  
  
    <div class="dgc-painel-principal" *ngIf="listaBase">
        <div class="dgc-card" *ngFor="let item of listaBase; let i = index">
            <div class="dgc-card-header">
              {{item.nome}}
            </div>
            <div class="dgc-card-detalhe">
              {{item.descricao}}
            </div>
        
        
            <div class="dgc-card-comandos">
              <button mat-flat-button color="primary" (click)="edita(item)">Alterar</button>
            </div>
          </div>
    </div>
  
  
   
