<div class="main-content" *ngIf="listaBase">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Movimentações</h4>
            <button class="btn btn-primary btn-sm " (click)="edita()">Novo</button>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th width="10%">Dia</th>
                  <th width="20%">Fonte</th>
                  <th width="20%">Aplicação</th>
                  <th width="20%">Data Fonte</th>
                  <th width="20%">Data Aplicação</th>
                  <th width="10%">Valor</th>
                  <th width="10%"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listaBase">
                  <td>{{item.dia}}</td>
                  <td>{{item.contaFonte.nomeConta}}</td>
                  <td>{{item.contaAplicacao.nomeConta}}</td>
                  <td>{{item.periodoFonte.apresentacao}}</td>
                  <td>{{item.periodoAplicacao.apresentacao}}</td>
                  <td align="right">{{ getValorFormatado(item) }}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

