<h2 *ngIf="item" mat-dialog-title>Projeto: {{item.nome}}</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>
    <div height="250px">
      <mat-form-field class="example-full-width">
        <input matInput maxlength="200" datetime="HH:mm:ss" #hora_inicio [(ngModel)]="item.horaInicio" name="hora_inicio" placeholder="Inicial" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput maxlength="200" datetime="HH:mm:ss" #hora_fim [(ngModel)]="item.horaFim" name="hora_fim" placeholder="Atual" />
      </mat-form-field>

     
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>
