<div *ngIf="listaProjeto">
  <h4>{{ano}} ({{listaProjeto.length}})</h4>

  <mat-card *ngFor="let item of listaProjeto; let i = index">
    <mat-card-header>
      <mat-card-title><a routerLink="/detalheProjeto/{{item.id}}">{{i+1}} - {{item.nome}}</a></mat-card-title>
      <mat-card-subtitle>{{item.tempo}} ( {{item.percentual | number:'1.2-2'}} %)</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Objetivo: {{item.objetivo}}</p>
      <p>Resultado: {{item.resultado}}</p>
      <p>Crença: {{item.crenca}}</p>
    </mat-card-content>
  </mat-card>


</div>