
<div class="dgc-painel" *ngIf="listaBase">

  <div class="dgc-painel-header">
    <span>{{ano}}</span> 
    <span class="dgc-direita">{{listaBase.length}} projetos</span>
  </div>
  
  <div class="dgc-painel-principal">
    <div class="dgc-card" *ngFor="let item of listaBase; let i = index">
      <div class="dgc-card-header">
        <span>
          <a routerLink="/detalheProjeto/{{item.id}}">{{i+1}} - {{item.nome}}</a>
        </span>
        <span class="dgc-direita">{{item.tempo}} ( {{item.percentual | number:'1.2-2'}} %)</span>
      </div>
   
      <!--
      <div class="dgc-card-comandos">
        <button mat-stroked-button color="primary" (click)="dialogo1({'item':item})">Receita</button>
        <button mat-stroked-button color="primary" (click)="dialogo1({'item':item})">Oportunidade</button>
        <button mat-stroked-button color="primary" (click)="dialogo2({'item':item})">Renda</button>
  
        <button mat-flat-button color="primary" (click)="dialogo1({'item':item})">Grupo</button>
        <button mat-flat-button color="primary" (click)="edita(item)">Alterar</button>
      </div>
      -->

    </div>
  
  </div>
  

</div>


