<div class="main-content" *ngIf="listaBase">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Estimativas {{proximo.apresentacao}}</h4>
            <button class="btn btn-primary btn-sm " (click)="geraEstimativa()">Gerar</button>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th width="20%">Nome</th>
                  <th align="center" width="10%">{{listaBase[0].periodo1}}</th>
                  <th align="center" width="10%">{{listaBase[0].periodo2}}</th>
                  <th align="center" width="10%">{{listaBase[0].periodo3}}</th>
                  <th align="center" width="10%">Estimativa</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Total</td>
                  <td align="center">{{totalMes1 | number: '1.2-2'}}</td>
                  <td align="center">{{totalMes2 | number: '1.2-2'}}</td>
                  <td align="center">{{totalMes3 | number: '1.2-2'}}</td>
                  <td align="center">{{totalEstimativa | number: '1.2-2'}}</td>
                  <td></td>
                </tr>
                <tr *ngFor="let item of listaBase">
                  <td>{{item.nomeConta}}</td>
                  <td align="center">{{item.total1 | number: '1.2-2'}}</td>
                  <td align="center">{{item.total2 | number: '1.2-2'}}</td>
                  <td align="center">{{item.total3 | number: '1.2-2'}}</td>
                  <td align="center">{{item.valorEstimativa | number: '1.2-2'}}</td>
                  <td align="right"><button class="btn btn-primary btn-sm " (click)="edita(item)">Altera</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>