<div class="dgc-painel" *ngIf="listaBase">

  <div class="dgc-painel-header">
    <span>Previsto: {{totalDia.tempoPrevisto}}   Executado: {{totalDia.tempoExecutado}}</span>
    <div class="dgc-direita">
      <button mat-flat-button color="primary" (click)="edita()">Novo</button>
    </div>

  </div>


  <div *ngIf="listaBase" class="dgc-painel-principal">

    <div class="dgc-card" *ngFor="let item of listaBase; let i = index">
      <div class="dgc-card-header">
        {{item.nome}}
      </div>
   
      <div class="dgc-card-detalhe">
        <div>Previsto: {{item.tempo_previsto}} </div>
        <div>
          <span>Executado: {{item.tempo_executado}} -  </span>
          <span class="{{classeRestante(item)}}">({{item.tempo_restante}})</span>
        </div>
      </div>


      <div class="dgc-card-comandos">
        <button mat-flat-button color="primary" (click)="edita(item)">Alterar</button>
      </div>
    </div>
  </div>

</div>