<h2 mat-dialog-title>Projeto: {{item.nome}}</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>
    <div height="250px">
      <mat-form-field class="example-full-width">
        <textarea matInput maxlength="250" #objetivo [(ngModel)]="item.objetivo" name="objetivo"
          placeholder="Objetivo"></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput maxlength="250" #resultado [(ngModel)]="item.resultado" name="resultado"
          placeholder="Resultado"></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput maxlength="250" #crenca [(ngModel)]="item.crenca" name="crenca"
          placeholder="Crença"></textarea>
      </mat-form-field>

      <mat-select placeholder="Grupo" #paletaCorsId [(ngModel)]="item.grupoProjetoId" name="grupoProjetoId">
        <mat-option *ngFor="let item of listaGrupo" [value]="item.id">
          {{ item.nome }}
        </mat-option>
      </mat-select>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>