<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text">
      <div class="logo-img">
        <img src="assets/img/angular2-logo-white.png" />
      </div>
      <span>GerProj - Minha História</span>
    </a>
  </div>
  <ul class="nav responsive-nav">

    <li width="100%">
      <a routerLink="/projetoAno/2006">
        <i class="fa fa-search"></i>
        <p>2006</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/projetoAno/2007">
        <i class="fa fa-search"></i>
        <p>2007</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/projetoAno/2008">
        <i class="fa fa-search"></i>
        <p>2008</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/projetoAno/2009">
        <i class="fa fa-search"></i>
        <p>2009</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/projetoAno/2010">
        <i class="fa fa-search"></i>
        <p>2010</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/projetoAno/2011">
        <i class="fa fa-search"></i>
        <p>2011</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/projetoAno/2012">
        <i class="fa fa-search"></i>
        <p>2012</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/projetoAno/2013">
        <i class="fa fa-search"></i>
        <p>2013</p>
      </a>
    </li>

    <li width="100%">
      <a routerLink="/projetoAno/2014">
        <i class="fa fa-search"></i>
        <p>2014</p>
      </a>
    </li>

    <li width="100%">
      <a routerLink="/projetoAno/2015">
        <i class="fa fa-search"></i>
        <p>2015</p>
      </a>
    </li>


    <li width="100%">
      <a routerLink="/projetoAno/2016">
        <i class="fa fa-search"></i>
        <p>2016</p>
      </a>
    </li>

    <li width="100%">
      <a routerLink="/projetoAno/2017">
        <i class="fa fa-search"></i>
        <p>2017</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/projetoAno/2018">
        <i class="fa fa-search"></i>
        <p>2018</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/projetoAno/2019">
        <i class="fa fa-search"></i>
        <p>2019</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/projetoAno/2020">
        <i class="fa fa-search"></i>
        <p>2020</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/projetoAno/2021">
        <i class="fa fa-search"></i>
        <p>2021</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/projetoAno/2022">
        <i class="fa fa-search"></i>
        <p>2022</p>
      </a>
    </li>
  </ul>
</div>